<h1>Users List</h1>

<%= link_to "Add a new user", new_user_path %>

<table>
  <tr>
    <th>ID</th>
    <th>User Name</th>
    <th>Descrition</th>
    <th>Actions</th>
  </tr>
  <% @users.each do |user| %>
  <tr>
    <td><%= user.id %></td>
    <td><%= user.username %></td>
    <td><%= user.description %></td>
    <td>
      <%= link_to "Detail", user_path(user) %>
      <% if user.id == current_user.id %>
        <%= link_to "Edit", edit_user_path(user) %>
        <%= link_to "Delete", user_path(user), method: :delete %>
      <% end %>
    </td>
  </tr>
  <% end %>
</table>
