<h1>User Profile</h1>

<p>User Name : <%= @user.username.titleize %></p>
<p>Description : <%= @user.description %></p>
<p><%= link_to "Edit", edit_user_path(@user) %> |
  <%= link_to "Delete", user_path(@user) %></p>


<h2><%= @user.username.titleize %>'s Posts</h2>

<% @posts.each do |post| %>
  <div class="">
    <h3><%= post.title %></h3>
    <p><%= post.body %></p>
    <p>
      <%= link_to "Detail", post_path(post) %>
      <% if @user.id == current_user.id %>
        <%= link_to "Edit", edit_post_path(post) %>
        <%= link_to "Delete", post_path(post), method: :delete %>
      <% end %>
    </p>
  </div>
  <% end %>
