<h1>Posts List</h1>

<%= link_to "Add a New Post", new_post_path %>
<% @posts.each do |post| %>
<div class="">
  <h2><%= link_to post.title.titleize, post_path(post) %></h2>
  <h4>posted by <%= post.user.username.titleize %></h4>
  <p><%= post.body %></p>
  <p>
    <% if post.user_id == current_user.id %>
      <%= link_to "Edit", edit_post_path(post) %>
      <%= link_to "Delete", post_path(post), method: :delete %>
    <% end %>
  </p>
</div>
<% end %>
