<h1 class="text-center">Posts List</h1>

<h3 class="text-right"><%= link_to "Add a New Post", new_post_path, class: "btn btn-primary" %></h3>
<% @posts.each do |post| %>
<div class="thumbnail row">
  <h3 class="text-center"><%= link_to post.title.titleize, post_path(post) %></h3>
  <div class="col-md-10 col-md-offset-1">
    <h4 class="text-right">posted by <%= post.user.username.titleize %></h4>
    <p><%= post.body %></p>
    <p class="text-right">
      <% if post.user_id == current_user.id %>
        <%= link_to "Edit", edit_post_path(post), class: "btn btn-success" %>
        <%= link_to "Delete", post_path(post), method: :delete, class: "btn btn-danger" %>
      <% end %>
    </p>
  </div>
</div>
<% end %>
