<div class="">
  <h1>Post details</h1>
  <h2><%= @post.title %></h2>
  <br>
  <p><%= @post.body %></p>
  <p>
    <%= link_to "Edit", edit_post_path(@post) %>
    <%= link_to "Delete", post_path(@post), method: :delete %>
    <%= link_to "Go back to Post List", posts_path %>
  </p>
</div>

<%= render partial: 'comments/form' %>


<h2>Comments (<%= @post.comments.size %>)</h2>

<%= render partial: 'posts/comment', collection: @post.comments %>
